  #chart-container {
    display: flex;
    width: 1100px;
    height: 700px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: black;
  }

.planet-chart-container {
  /* background-color: black; */
  width: 600px;
  height: 500px;
}

.right-container {
  /* background-color: black; */
  flex-direction: column;
  width: 400px;
height:700px;

}

.seesaw-container {
    /* background-color: black; */
    flex-direction: row;
    width: 400px;
  height: 300px;

  }

  .orbit-container {
    /* background-color: blue; */
    flex-direction: row;
    width: 400px;
  height: 300px;

  }
.container{
    background-color: black;
}

.navbar-collapse {
  height: 40px;
}

body {
    background-color: black;
    color: white;
}
circle.distance-circle {
    fill: none;
    stroke: white;
    stroke-dasharray: 3;
}
text.distance-label {
    fill: white;
    text-anchor: middle;
}
.seesaw{
    background-color: black;
}

.navbar{
    padding-top: 15px;
    margin-bottom: 20px;
}