  #chart-container {
    display: flex;
    width: 1300px;
    height: 700px;
    overflow-x: auto;
    overflow-y: auto;
    /* background-color: rgba(0, 0, 0, 0.1); */
  }

.planet-chart-container {
  /* background-color: black; */
  width: 600px;
  height: 500px;
}

.right-container {
  /* background-color: black; */
  flex-direction: column;
  width: 400px;
height:700px;

}
.description-container{
    flex-direction: column;
    width: 350px;
  height:700px;
}
.seesawEarth-container {
    /* background-color: black; */
    flex-direction: row;
    width: 350px;
  height: 300px;

  }

  .seesawJupiter-container {
    /* background-color: blue; */
    flex-direction: row;
    width: 350px;
  height: 300px;

  }
.container{
    /* background-color: rgba(0, 0, 0, 0.1); */
    
}

.navbar-collapse {
  height: 40px;
}

body {
    /* background-color:rgba(0, 0, 0, 0.1); */
    color: white;
}
circle.distance-circle {
    fill: none;
    stroke: white;
    stroke-dasharray: 3;
}
text.distance-label {
    fill: white;
    text-anchor: middle;
}
.seesawEarth{
    /* background-color: rgba(0, 0, 0, 0.1); */
    
}

.navbar{
    padding-top: 15px;
    margin-bottom: 20px;
}

.color-block {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #fff;
}

/* Text styling */
.color-name {
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}

body {
     /* Remove default margin */
    overflow: hidden; /* Hide scrollbars */
}

video {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire viewport */
    z-index: -1; /* Place the video behind other content */
}